@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: auto;
}
.container{
    position: absolute;
    height: 100vh;
    width: 500px;
    background: linear-gradient(#77d2d7,#dce4f9);
}
.container2{
    display: flex;
    flex-direction: column;
}
.image{
    position:relative;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    padding: 3px;
}
.image .profile-img{
    position: absolute;
    transform: translateY(-70%);
    height: 100%;
    width: 100%;
    object-fit:cover;
    border-radius: 50%;
    border: 3px solid #fff;
}
.box1{
   max-width: 450px;
   height: 200px;
   padding: 25px;
   width: 100%;
   background-color: #c7d6fe;
   box-shadow: 0 25px 20px rgba(0,0,0,0.2);
   border-radius: 10px;
   display: flex;
   margin-bottom: 15px;
   margin-left: 24px;
}
.box2{
   width: 450px;
   height: 100px;
   background: linear-gradient(#c7d6fe,#dce4f9);
   box-shadow: 0 15px 15px rgb(0,0,0,0.2);
   border-radius: 10px;
   margin-left: 24px;
   margin-bottom: 15px;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}
.box3{
    width: 450px;
    height: 100px;
    background: linear-gradient(#dce4f9,#eef3ff);
    box-shadow: 0 15px 15px rgb(0,0,0,0.2);
    border-radius: 10px;
    margin-left: 24px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
 }
 .box4{
    width: 450px;
    height: 100px;
    background-color: #eaf0ff;
    box-shadow: 0 15px 15px rgb(0,0,0,0.2);
    border-radius: 10px;
    margin-left: 24px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
 }
.box5{
   width: 450px;
   height: 80px;
   background-color: #eaf0ff;
   box-shadow: 0 15px 15px rgb(0,0,0,0.2);
   border-radius: 10px;
   margin-left: 24px;
   margin-bottom: 15px;
   display: flex;
   align-items: center;
   justify-content: center;
}


.icon{
    height: 80px;
    width: 190px;
    margin-left: 300px; 
    margin-top: 35px;
}
.fa-share-alt{
    margin-left: 12px;
    
}
 .setting-share{
    display: flex;
    color: #fff;
    margin-left: 362px;
    font-size: 1.3rem;
 }
 .text1{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: auto;
    margin-left: -85px;
    
 } 
.span{
    color: rgb(67, 67, 159);
}

button{
  width: 52px;
  height: 52px;
  margin: 10px;
  background:#ffffff;
  font-size: 28px;
  cursor: pointer;
  border:none;
  border-radius: 50%;
  box-shadow:0 15px 15px rgb(0,0,0,0.2); 
 
}
.box5 h2{
    font-weight: 900;
}

@media screen and (max-width: 700px){
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: auto;
        
    }
    .container{
        position: relative;
        height: 110vh;
        width: 500px;
        background: linear-gradient(#77d2d7,#dce4f9);
    }
    .container2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80vh;
        margin-left: 13px;
        width: 97%;
    }
    .setting-share{
        display: flex;
        color: #fff;
        margin-left: 320px;
        font-size: 1.3rem;
     }
     .box1{
        width: 90%
    }
    .box2{
        width: 90%
    }
    .box3{
        width: 90%
    }
    .box4{
        width: 90%
    }
    .box5{
        width: 90% 
    }
    
    
    
}